<h1><%= @board.name %></h1>

<%= link_to '編集します', edit_board_path(@board) %>
<br>
<%= link_to '消去します', board_path(@board), method: :delete, confirm: 'このboardを消去します' %>

<hr>

<h1>Comments</h1>
<% @board.comments.each do |c| %>
  <p>
  <%= c.content %>
  <br>
  <%= c.created_at.strftime("%Y/%M/%D") %>
  </p>
<% end %>

<hr>

<h1>new comment</h1>
<%= form_for [@board, @board.comments.build] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<hr>

<%= link_to '一覧ページに戻るよ！', boards_path() %>